<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Greg Fiumara</string>
	<key>Builder Version</key>
	<string>11601.2.7.2</string>
	<key>CFBundleDisplayName</key>
	<string>Twenty One</string>
	<key>CFBundleIdentifier</key>
	<string>com.gregfiumara.twentyone.safari</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Content</key>
	<dict>
		<key>Content Blocker</key>
		<string>blockerList.json</string>
	</dict>
	<key>Description</key>
	<string>Block alcohol website age gates.</string>
	<key>DeveloperIdentifier</key>
	<string>SELUQ362Q4</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Update Manifest URL</key>
	<string>https://raw.githubusercontent.com/gfiumara/TwentyOne/master/SafariExtension/twentyone_updater.plist</string>
	<key>Website</key>
	<string>http://gregfiumara.com</string>
</dict>
</plist>
